<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detailed Capture</title>
  <link rel="stylesheet" href="styles/fonts.css">
  <link rel="stylesheet" href="styles/navbar.css">
  <link rel="stylesheet" href="styles/index.css">
  <link rel="stylesheet" href="styles/prints.css">
  <link rel="stylesheet" href="styles/about.css">
  <link rel="stylesheet" href="styles/contact.css">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>
  <header>
    <div class="navbar-container">
      <h1 class="brand-name">DETAILED CAPTURE</h1>
      <div class="cart-container">
        <button aria-controls="navbar" aria-expanded="false" class="mobile-navbar-toggle"></button>
        <ul class="menu-options" data-visible="false">
          <a href="/"><li>PHOTOGRAPHY</li></a>
          <a href="/prints"><li>PRINTS</li></a>
          <a href="/about"><li>ABOUT</li></a>
          <a href="/contact"><li>CONTACT</li></a>
        </ul>
        <a href="" class="cart-icon" >
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" fill="currentColor" class="bi bi-bag"
            viewBox="0 0 16 16">
            <path
              d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" />
          </svg>
        </a>
      </div>
    </div>
  </header>

  <div class="empty-space"></div> <!-- EMPTY SPACE BEHING NAVBAR -->