<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detailed Capture</title>
    <link rel="stylesheet" href="styles/fonts.css">
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/index.css">
</head>

<body>
    <header>
        <div class="navbar-container">
            <h1 class="brand-name">DETAILED CAPTURE</h1>
            <button aria-controls="navbar" aria-expanded="false" class="mobile-navbar-toggle"></button>
            <ul class="menu-options" data-visible="false">
                <li>PHOTOGRAPHY</li>
                <li>VIDEOGRAPHY</li>
                <li>PRINTS</li>
                <li>ABOUT</li>
                <li>CONTACT</li>
            </ul>
        </div>
    </header>

    <div class="empty-space"></div> <!-- EMPTY SPACE BEHING NAVBAR -->