<%- include("partials/header") %>


<div class="page-header">
  <div class="page-title">About</div>
</div>
    
<p class="about-text">
    Detailedcapture is a collection of photography and vidoegraphy captures by London based photographer Angel Puruncajas which showcases 
    some of the most beautiful scenery around the world. His maticulous eye to for detail is aparent with every moment captured.
    <br><br>
    High quality prints on high quality paper available soon. Shipping world wide.
</p>

<%- include("partials/footer") %>
