<%- include("partials/header") %>


  <div class="page-header">
    <div class="page-title">Contact</div>

  </div>

  <!-- <form class="contact-form" action="/send-message" method="POST" > -->
    <!-- Form is now being posted using JavaScript from file index.js -->
  <form class="contact-form">
    <div class="item one">
      <p>Your Name</p>
      <input type="text" name="customerName" id="customerName" required>
    </div>
    <div class="item two">
      <p>Your Email</p>
      <input type="email" name="customerEmail" id="customerEmail" required>
    </div>
    <div class="item three">
      <p>Message</p>
      <div>
        <textarea class="item three" type="text" rows="10" name="customerMessage" id="customerMessage" required></textarea>
      </div>
    </div>
    <div class="g-recaptcha" data-sitekey="6LdG94sqAAAAAGEiGL7qS_419EfO2ifRr6vC609k"></div>
    <div class="item four">
      <button type="submit" class="send-button">Send</button>
    </div>
  </form>

    <div class="confirmation-container" visibility="false">
      <div class="confirmation-box">
        <p class="confirmation-message"></p>
        <p style="color: white;">Thank you for your message. We aim to get back to you about your enquiry as soon as possible.</p>
      </div>
    </div>
  
  <%- include("partials/footer") %>