<%- include("partials/header") %>


  <div class="page-header">
    <div class="page-title">Contact</div>

  </div>

  <div class="contact-form">
    <div class="item one">
      <p>Your Name</p>
      <input type="text">
    </div>
    <div class="item two">
      <p>Your Email</p>
      <input type="text">
    </div>
    <div class="item three">
      <p>Message</p>
      <div>
        <textarea class="item three" type="text" rows="10"> </textarea>
      </div>
    </div>
  </div>

  <%- include("partials/footer") %>