<%- include("partials/header") %>

  <div class="page-header">
    <div class="page-title">Contact</div>
  </div>

  <!-- Form for user input -->
  <form class="contact-form" action="/send-message" method="POST">
    <div class="item one">
      <p>Your Name</p>
      <input type="text" name="customerName" id="customerName" required>
    </div>
    <div class="item two">
      <p>Your Email</p>
      <input type="email" name="customerEmail" id="customerEmail" required>
    </div>
    <div class="item three">
      <p>Message</p>
      <div>
        <textarea class="item three" type="text" rows="10" name="customerMessage" id="customerMessage" required></textarea>
      </div>
    </div>
    <div class="g-recaptcha" data-sitekey="6LfgJowqAAAAAN97OrVZJ96D4tO6oRYdb6o_FtCy"></div>
    <div class="item four">
      <button type="submit" class="send-button">Send</button>
    </div>
  </form>

  <!-- Confirmation Container to display message after submission -->
  <% if (locals.confirmation && locals.message) { %>
    <div class="confirmation-container" style="visibility: visible;">
      <div class="confirmation-box">
        <p class="confirmation-message"><%- confirmation %></p>
        <p style="color: white;"><%- message %></p>
      </div>
    </div>
  <% } %>

<%- include("partials/footer") %>
