<%- include("partials/header") %>


<div class="page-header">
  <div class="page-title">Photography</div>
</div>

  <div class="photo-container">
    <img src="/photographs/DC_005 4x5.jpg" alt="" class="photo-card">
    <img src="/photographs/DC_006 4x5.jpg" alt="" class="photo-card">
    <img src="/photographs/DC_007 4x5.jpg" alt="" class="photo-card">
    <img src="/photographs/DC_008 4x5.jpg" alt="" class="photo-card">
    <img src="/photographs/DC_009 4x5.jpg" alt="" class="photo-card">
    <img src="/photographs/DC_012 4x5.jpg" alt="" class="photo-card">
  </div>

  <%- include("partials/footer") %>