<%- include("partials/header") %>


  <div class="page-header">
    <div class="page-title">Prints (COMING SOON)</div>
    <p> High quality prints, on high quality paper. Shipping world wide.</p>
  </div>

  <div class="print-container">
    <div class="print-card">
      <img src="/photographs/DC_005 Frame.png">
      <div class="print-info">
        <div class="print-name">CABLE CAR</div>
        <div class="print-price">FROM £40</div>
      </div>
    </div>
    <div class="print-card">
      <img src="/photographs/DC_006 Frame.png">
      <div class="print-info">
        <div class="print-name">ST. PAUL'S</div>
        <div class="print-price">FROM £40</div>
      </div>
    </div>
    <div class="print-card">
      <img src="/photographs/DC_007 Frame.png">
      <div class="print-info">
        <div class="print-name">THE QUEEN</div>
        <div class="print-price">FROM £40</div>
      </div>
    </div>
    <div class="print-card">
      <img src="/photographs/DC_008 Frame.png">
      <div class="print-info">
        <div class="print-name">BEALACH NA BÀ</div>
        <div class="print-price">FROM £40</div>
      </div>
    </div>
    <div class="print-card">
      <img src="/photographs/DC_009 Frame.png">
      <div class="print-info">
        <div class="print-name">RED DEER</div>
        <div class="print-price">FROM £40</div>
      </div>
    </div>
    <div class="print-card">
      <img src="/photographs/DC_012 Frame.png">
      <div class="print-info">
        <div class="print-name">COLOURED HOUSES</div>
        <div class="print-price">FROM £40</div>
      </div>
    </div>
  </div>

  <%- include("partials/footer") %>