/* ---------- GRID BOX BEHAVIOUR ---------- */
/* Changing the gridbox behaviour for the contact form so that when we set a width of 100% for an inner element it does not exeed 10% 
with padding and border. */
html .contact-form {
  box-sizing: border-box;
}
html .contact-form * {
  box-sizing: border-box;
}

/* ---------- CONTACT FORM ---------- */

.contact-form {
  padding: 1rem;
  background-color: rgb(100, 100, 100);
  color: white;
  width: 40rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.item.three {
  grid-column: span 2;
}

.item.four {
  grid-column: span 2;
}

.item>p {
  margin: 0 0 5px 0;
}

.item input {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  font-family: Roboto-Condensed;
}

.item textarea {
  width: 100%;
  font-size: 1rem;
  font-family: Roboto-Condensed;
}

.contact-form .four {
  margin: auto;
}

.g-recaptcha {
  grid-column: span 2;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .contact-form {
    width: 90%;
  }
}

button {
  color: black;
  background: white;
  border: none;
  padding: 5px 10px;
  font: inherit;
  outline: inherit;
}

.confirmation-container[visibility="false"] {
  visibility: hidden;
}


/* ---------- EMAIL CONFIRMATION MESSAGE ---------- */

.confirmation-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.confirmation-box {
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 10rem;
  gap: 0.5rem;
}

.confirmation-box p {
  width: 90%;
  text-align: center;
  margin: 0;
}

.confirmation-message {
  color: white;
  font-size: 1.25rem;
}