/* -------------------- INDEX/PHOTGRAPHY -------------------- */

body {
  font-family: Roboto-Condensed;
}

.page-header {
  margin: 4rem 0rem;
  text-align: center;
}

.page-title {
  font-size: 2.5rem;
}

.photo-container {
  margin: 0 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
}

.photo-card {
  width: 100%;
}

@media (max-width: 1200px) {
  .photo-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .photo-container {
    margin: 0 5%;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .page-title {
    font-size: 2rem;
  }
  
}


/* -------------------- FOOTER -------------------- */

#footer {
  margin: 4rem 0rem 2rem 0rem;
  font-family: Roboto-Condensed;
  text-align: center;
}

.social-icon {
  margin: 2.5px;
  width: 25px;
  aspect-ratio: 1 / 1;
}

#footer > p {
  margin: 0.5rem 5%;
}

@media (max-width: 576px) {
  .social-icon {
    margin: 2.5px;
    width: 20px;
  }
}